.text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  white-space: nowrap;

  & > span {
    display: inline-block;
    transform: translate3d(0, 1.2em, 0);
    
    .active .showed & {
      transform: translate3d(0, 0.2em, 0);
    }
  }
}
